body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

header {
    background: #2563eb;
    color: white;
    padding: 40px;
}

main {
    margin-top: 50px;
}

button {
    padding: 12px 25px;
    border: none;
    background: #111827;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #374151;
}
